*{
	padding: 0;
	margin: 0;
}
html, body, #Desktop10{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
/*设置桌面*/
#Desktop10{
	/*background: #FFF url("../img/lookstars.png") no-repeat fixed center center / cover;*/
	background: #FFF url("http://ww3.sinaimg.cn/large/7b777075gw1f8qnxgil5hj21kw11xnpd.jpg") no-repeat fixed center center / cover;
}
#Desktop10>#D10-Desktop{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 40px;
	overflow: hidden;
}
#Desktop10>#D10-Desktop:before {content:"WebDesktop10"; position:absolute; bottom:35px; right:10px; cursor:default; color:white;}
#Desktop10>#D10-Desktop:after {content:"Background By Sonic853"; position:absolute; bottom:10px; right:10px; cursor:default; color:white;}
#Desktop10>#D10-Desktop>ol{
	
}
/*设置桌面-ed*/
/*设置任务栏*/
#Desktop10>#D10-Taskbar{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 40px;
	background-color: rgba(0,0,0,0.8);
	z-index: 9999;
}
#Desktop10>#D10-Taskbar>#D10-StartBar{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 48px;
}
#Desktop10>#D10-Taskbar>#D10-StartBar>#D10-StartButton{
	width: 48px;
	height: 40px;
	background: transparent url("../img/LStartMenu.png") no-repeat scroll center center;
}
#Desktop10>#D10-Taskbar>#D10-StartBar>#D10-StartButton:hover{
	background-color: rgba(255,255,255,0.1);
}
#Desktop10>#D10-Taskbar>#D10-StartBar>#D10-StartButton:active{
	background-color: rgba(255,255,255,0.05);
}
#Desktop10>#D10-Taskbar>#D10-StartBar>#D10-StartButton.D10-StartButtonClicked{
	background-color: rgba(255,255,255,0.2);
}
/*设置开始菜单*/
#Desktop10>#D10-StartMenu{
	display: none;
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 740px;
	height: 390px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.9);
	color: #FFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.79);
}
#Desktop10>#D10-StartMenu.D10-openStartMenu{
	display: block;
}
	/*设置开始菜单-左导航栏*/
#Desktop10>#D10-StartMenu>#D10-LeftNav{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 48px;
	overflow: hidden;
	font-size: 14px;
}
#Desktop10>#D10-StartMenu>#D10-LeftNav.D10-openLeftNav{
	width: 256px;
	background-color: #000;
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-More>#D10-LeftNav-More-Btn{
	width: 256px;
	height: 48px;
	line-height: 48px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-More>#D10-LeftNav-More-Btn:hover{
	background-color: rgba(255,255,255,0.1);
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-More>#D10-LeftNav-More-Btn:active{
	background-color: rgba(255,255,255,0.17);
	transform:scale(0.99);
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-More>#D10-LeftNav-More-Btn>.D10-Menu-ico{
	display: inline-block;
	width: 16px;
	height: 9px;
	line-height: 48px;
	padding: 20px 16px 19px;
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-More>#D10-LeftNav-More-Btn>.D10-Menu-ico>span{
	display: block;
	width: 16px;
	height: 9px;
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-More>#D10-LeftNav-More-Btn>.D10-Menu-ico>span>span{
	display: block;
	line-height: normal;
	border-bottom: 1px solid #FFF;
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-More>#D10-LeftNav-More-Btn>.D10-Menu-ico>span>span+span{
	margin-top: 3px;
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-bottom{
	position: absolute;
	width: 256px;
	bottom: 0;
	left: 0;
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-bottom>div{
	height: 48px;
	line-height: 48px;
	display: flex;
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-bottom>div:hover{
	background-color: rgba(255,255,255,0.1);
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-bottom>div:active{
	background-color: rgba(255,255,255,0.17);
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-bottom>div>.D10-LeftNav-Userico{
	display: inline-block;
	padding: 14px;
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-bottom>div>.D10-LeftNav-Userico>img{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	vertical-align: top;
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-bottom>div>.D10-LeftNav-Explorerico{
	display: inline-block;
	width: 48px;
	height: 48px;
	background: transparent url("../img/FileExplorerWhite.png") no-repeat scroll center center;
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-bottom>div>.D10-LeftNav-Settingsico{
	display: inline-block;
	width: 48px;
	height: 48px;
	background: transparent url("../img/SettingsWhite.png") no-repeat scroll center center;
}
#Desktop10>#D10-StartMenu>#D10-LeftNav>#D10-LeftNav-bottom>div>.D10-LeftNav-Powerico{
	display: inline-block;
	width: 48px;
	height: 48px;
	background: transparent url("../img/PowerWhite.png") no-repeat scroll center center;
}
#Desktop10>#D10-StartMenu>#D10-LeftNav-Bg{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}
#Desktop10>#D10-StartMenu>#D10-LeftNav-Bg.D10-openLeftNav-Bg{
	display: block;
}
	/*设置开始菜单-左导航栏-ed*/
	/*设置开始菜单-左菜单*/
#Desktop10>#D10-StartMenu>#D10-LeftMenu{
	position: absolute;
	left: 48px;
	top: 0;
	bottom: 0;
	width: 260px;
	overflow-y: auto;
}
#Desktop10>#D10-StartMenu>#D10-LeftMenu>[id^=D10-LeftMenu-]>[id^=D10-LeftMenu-List-]{
	height: 36px;
	line-height: 36px;
	font-size: 12px;
	padding-left: 16px;
}
#Desktop10>#D10-StartMenu>#D10-LeftMenu>[id^=D10-LeftMenu-]>[id^=D10-LeftMenu-List-App-]{
	padding-left: 14px;
	display: flex;
}
#Desktop10>#D10-StartMenu>#D10-LeftMenu>[id^=D10-LeftMenu-]>[id^=D10-LeftMenu-List-App-]>.D10-LeftMenu-List-App-ico{
	width: 32px;
	height: 32px;
	margin: 2px;
	overflow: hidden;
	background-color: rgb(41,204,93);
	display: inline-block;
}
#Desktop10>#D10-StartMenu>#D10-LeftMenu>[id^=D10-LeftMenu-]>[id^=D10-LeftMenu-List-App-]>.D10-LeftMenu-List-App-ico>img{
}
#Desktop10>#D10-StartMenu>#D10-LeftMenu>[id^=D10-LeftMenu-]>[id^=D10-LeftMenu-List-App-]>.D10-LeftMenu-List-App-Name{
	display: inline-block;
	padding-left: 6px;
}
#Desktop10>#D10-StartMenu>#D10-LeftMenu>[id^=D10-LeftMenu-]>[id^=D10-LeftMenu-List-]:hover{
	background-color: rgba(255,255,255,0.1);
}
#Desktop10>#D10-StartMenu>#D10-LeftMenu>[id^=D10-LeftMenu-]>[id^=D10-LeftMenu-List-]:active{
	background-color: rgba(255,255,255,0.17);
	transform:scale(0.99);
}
#Desktop10>#D10-StartMenu>#D10-LeftMenu>#D10-LeftMenuBottom{
	height: 53px;
}
	/*设置开始菜单-左菜单-ed*/
	/*设置开始菜单-右磁贴*/
#Desktop10>#D10-StartMenu>#D10-RightMenu{
	position: absolute;
	left: 308px;
	right: 0;
	top: 0;
	bottom: 0;
}
	/*设置开始菜单-右磁贴-ed*/
/*设置开始菜单-ed*/
/*设置小任务栏*/
#Desktop10.D10-minTaskbar>#D10-Desktop{
	bottom: 30px;
}
#Desktop10.D10-minTaskbar>#D10-Taskbar{
	height: 30px;
}
#Desktop10.D10-minTaskbar>#D10-Taskbar>#D10-StartBar>#D10-StartButton{
	width: 36px;
	height: 30px;
}
#Desktop10.D10-minTaskbar>#D10-Taskbar>#D10-StartBar{
	width: 36px;
}
#Desktop10.D10-minTaskbar>#D10-StartMenu{
	bottom: 30px;
}
/*设置小任务栏-ed*/
/*#Desktop10.D10-minTaskbar>#StartMenu>#LeftNav{
	width: 36px;
}*/
